table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    padding: 8px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: darkblue;
}

a:hover {
    color: orange;
}

table.ingredients_table tr {
    display: block;
    float: left;
}

table.ingredients_table th, table.ingredients_table td {
    display: block;
    border: 1px solid black;
}


body {
    background: #807045;
}

table.two-colors tbody tr:nth-child(2n) td {
    background: #796837;
}

table.two-colors tbody tr:nth-child(2n+1) td {
    background: #807045;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #807045;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;

    background: #807045;
}

.content {
    background: #807045;
}