table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    padding: 8px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: darkblue;
}

a:hover {
    color: orange;
}

div.ingredients_table_wrapper {
    display: block;
    overflow: auto;
}

td.num {
    text-align: right;
}

table.ingredients_table th, table.ingredients_table td {
    border: 1px solid black;
}


body {
    background: #807045;
}

table.two-colors tbody tr:nth-child(2n) td {
    background: #796837;
}

table.two-colors tbody tr:nth-child(2n+1) td {
    background: #807045;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #807045;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;

    background: #807045;
}

.content {
    background: #807045;
}

.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
    content: attr(data-tooltip); /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    right: 100%;
    margin-right: 15px;

    /* basic styles */
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background: #52441f;
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: normal;
    white-space: pre;

    display: none; /* hide by default */
}

.tooltip:after {
    content: "";
    position: absolute;

    /* position tooltip correctly */
    right: 100%;
    margin-right: -6px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* the arrow */
    border: 12px solid #52441f;
    border-color: transparent transparent transparent #52441f;

    display: none;
}

.tooltip:hover:before, .tooltip:hover:after {
    display: block;
}