table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

table.sortable thead {
    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: default;
}

table.sortable tbody tr:nth-child(2n) td {
    background: #c0e5fd;
}

table.sortable tbody tr:nth-child(2n+1) td {
    background: #ffffff;
}