<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title> Albion Profit Calculator</title>
</head>
<body onload="document.criteria.reset();">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
    <div class="flex-container">
        <div style="flex: 6 0 60%">
            <div class="sticky" style="padding-bottom: 20px; padding-left: 20px; top: 0;">
                <h1>Albion Profit Calculator</h1>
                <form action="{{url_for('results', page=1, per_page=50)}}" method="post" name="criteria">
                    <label for="recipe_type">Type</label>
                    <select name="recipe_type" id="recipe_type" onchange="handle_type_change(this.value)">
                        <option value="TRANSPORT" selected>Transport</option>
                        <option value="CRAFTING">Crafting</option>
                        <option value="UPGRADE">Upgrade</option>
                    </select>
                    <label for="limitation">Limitation</label>
                    <select name="limitation" id="limitation" onchange="handle_limitation_change(this.value)"
                            style="width:120px">
                        <option value="TRAVEL" selected>None</option>
                        <option value="NO_RISK">No risk</option>
                    </select>
                    <label for="category">Shop category</label>
                    <select name="category" id="category" disabled>
                        <option value='all'>All</option>
                        {% for category_id, category_name in categories.items() %}
                        <option value={{category_id}}>{{category_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="city">City</label>
                    <select name="city" id="city" disabled>
                        <option value="0" selected>Fort Sterling</option>
                        <option value="1">Lymhurst</option>
                        <option value="2">Bridgewatch</option>
                        <option value="3">Martlock</option>
                        <option value="4">Thetford</option>
                        <option value="5">Caerleon</option>
                    </select>

                    <label for="focus">Use focus</label>
                    <input disabled id="focus" name="focus" type="checkbox" value="focus">
                    <input type="submit" value="Show">
                </form>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div style="flex: 6 0 40%">
            <div class="sticky" id="place_for_details" style="    top: 20px;"></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function handle_type_change(value) {
        const all_options = {
            'TRAVEL': 'None',
            'NO_RISK': 'No risk',
            'NO_TRAVEL': 'No traveling',
            'PER_CITY': 'In specific city',
        }
        const transport_options = {
            'TRAVEL': 'None',
            'NO_RISK': 'No risk',
        }
        let select = document.getElementById('limitation')

        while (select.firstChild) {
            select.removeChild(select.firstChild);
        }
        let options;
        options = value === 'TRANSPORT' ? transport_options : all_options;
        for (const option_value in options) {
            if (options.hasOwnProperty(option_value)) {
                let option = document.createElement("option");
                option.value = option_value;
                option.text = options[option_value]
                select.append(option)
            }
        }

        document.getElementById('category').disabled = value !== 'CRAFTING';
        document.getElementById('focus').disabled = value !== 'CRAFTING';
    }

    function handle_limitation_change(value) {
        document.getElementById('city').disabled = value !== 'PER_CITY';
    }
</script>
</body>


