<h4>{{calculation.product_name}}</h4>
{{calculation.product_tier}} {{calculation.product_subcategory}}<br/>
{% if calculation.recipe_type in ['crafting','upgrade']  %}
Amount of products: {{calculation.product_quantity}}<br/>
Produced in: {{calculation.production_city}}<br/>
{% endif %}
Sold in: {{calculation.destination_city}}<br/>
Sold for: {{calculation.final_product_price}}<br/>
{% if calculation.journals_filled != 0  %}
Profit without journals: {{calculation.profit_with_journals}}<br/>
Journals filled: {{"%.2f"|format(calculation.journals_filled)}}<br/>
Profit per journal: {{"%.2f"|format(calculation.profit_per_journal)}}<br/>
{% endif %}
Ingredients cost including
<span class='tooltip' data-tooltip='Travel multiplier = {{one_tile_multiplier}} for adjacent cities
or {{two_tiles_multiplier}} otherwise'>transport
</span>: {{calculation.ingredients_total_cost}}<br/>
<strong>Total profit: {{calculation.profit_without_journals}}</strong><br/>
Profit percentage: {{"%.2f%%"|format(calculation.profit_percentage)}}<br/>
<br/>
<strong>Ingredients' details:</strong><br/>
<div class="ingredients_table_wrapper">
    <table class="ingredients_table">
        <tr>
            <th scope="col" style="padding: 0; height: 53px"></th>
            <th scope="col">Ingredient</th>
            <th scope="col">Bought in</th>
            <th scope="col">
                <div class='tooltip' data-tooltip='Quantity'>Qty</div>
            </th>
            <th scope="col">
                <div class='tooltip' data-tooltip='Local price per unit'>Local</div>
            </th>
            <th scope="col">
                <div class='tooltip'
                     data-tooltip='Quantity * Local price * Travel multiplier &#13;&#10;Travel multiplier = {{one_tile_multiplier}} for adjacent cities &#13;&#10;or {{two_tiles_multiplier}} otherwise'>
                    With transport
                </div>
            </th>
            {% if calculation.recipe_type == 'crafting' %}
            <th scope="col">
                <div class='tooltip' data-tooltip='Price with transport * Return rate'>With returns</div>
            </th>
            {% endif %}
        </tr>

        {% for ingredient in calculation.ingredients_details %}
        <tr>
            <td style="padding: 0; text-align: center"><img
                    src="{{ url_for('static', filename='icons/' + ingredient.item_id + '.png') }}" alt="Icon"
                    style="text-align: center" width="50" height="50"></td>
            <td><strong>{{ingredient.name}}</strong></td>
            <td>{{ingredient.source_city}}</td>
            <td class="num">{{ingredient.quantity}}</td>
            <td class="num">{{ingredient.local_price}}</td>
            <td class="num">{{ingredient.total_cost_with_transport}}</td>
            {% if calculation.recipe_type == 'crafting' %}
            <td class="num">{{ingredient.total_cost_with_returns}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
