{% extends 'base.html' %}

{% block content %}
{% if calculations %}
<div id="place_for_details" xmlns="http://www.w3.org/1999/html"></div>

<table class="sortable" id="results_table">
    <caption>Results</caption>
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="sorttable_nosort">Tier</th>
        <th scope="col" class="sorttable_nosort">Subcategory</th>
        <th scope="col">Profit</th>
        <th scope="col">Profit %</th>
        <th scope="col" class="sorttable_nosort"></th>
    </tr>
    {% for record in calculations %}
    <tr>
        <td><img src="{{ url_for('static', filename='icons/' + record['product_id'] + '.png') }}" alt="Icon"
                 style="vertical-align: middle" loading="lazy" width="50" height="50"> {{ record['product_name'] }}
        </td>
        <td style="text-align:center">{{ record['product_tier'] }}</td>
        <td>{{ record['product_subcategory'] }}</td>
        <td>{{ record['profit_with_journals'] }}</td>
        <td>{{ record['profit_percentage'] }}</td>
        <td>
            <button id="details{{loop.index}}">Details</button>
            <script type="text/javascript">
                document.getElementById("details{{loop.index}}").onclick = function () {
                    $.ajax({
                        url: "/details",
                        type: "post",
                        contentType: 'application/json',
                        data: '{{record|tojson}}',
                        success: function (response) {
                            $("#place_for_details").html(response);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            </script>
        </td>
    </tr>

    {% endfor %}
</table>


{% endif %}


{% endblock %}